body{
	font-size:  16px;
	margin: 0 auto;
	max-width: 1078px;
	min-width: 1078; 	
}
header nav{
	background-color: orange;
	border-radius: 5px;
	padding: 1px 0px 1px 0px;
}
header nav ul li{
	color: white;
	display: inline-block;
	margin-right: 20px;
}
#slider{
	width: 60%;
}
#acomodo{
	width: 40%;
}
#post{
	border: 8px solid grey;
	border-radius: 5px;
	width: 16%;
	text-align: center;
}

#post,#acomodo{
	display: inline-block;
}
#arthecho{
	border: 8px solid #E1E6FA;
	background-color: #E1E6FA;
	width: 100%;
	border-radius: 5px;
}
#publicidad{
	display: inline-block;
}

