body{
	font-size:  16px;
	margin: 0 auto;
	max-width: 1024px;
	min-width: 1024px; 	
}
header nav{
	background-color: #DF7401;
	border-radius: 5px;
	padding: 1px 0px 1px 0px;
}
header nav ul li{
	color: white;
	display: inline-block;
	margin-right: 20px;
}
#slider{
	width: 100%;
}
.Tpost{
	font-size: 32px;
	font-weight: bold;
	color: grey;
}
#acomodo{
	width: 56%;
}
#post{
	border: 8px solid grey;
	border-radius: 5px;
	width: 40%;
	text-align: center;
}

#post,#acomodo{
	display: inline-block;
}
#arthecho{
	border: 8px solid #E1E6FA;
	background-color: #E1E6FA;
	width: 100%;
	border-radius: 5px;
}
#publicidad{
	display: inline-block;
}
#arbol{
	width: 100%;
}
#imgpubli{
	margin-top: 20px;
}
#publicidad,#buscador,.Categorias{
	border-radius: 40px;
	width: 80%;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color:#DF7401; 
}
#acomodopubli{
	
	width: 100%;
}

#primerseccion{
	width: 60%;
}
#segundaseccion{
	margin-top: 20px;
	width: 38%;
	margin-left: 10px;
}
#primerseccion,#segundaseccion{
	display: inline-block;
	vertical-align: top;

}
